<div class="rca-container rca-margin">

  <div class="row animate-show" ng-show="dataStatus == 'loading'">
    <div class="col-md-12">
      <div class="lz-loading">
        <p>loading match...</p>
      </div>
    </div> 
  </div>

  <div class="row animate-show" ng-show="dataStatus == 'error'">
    <div class="col-md-12">
      <div class="lz-data-error">
        <p>Oops! Something went wrong!</p>
      </div>
    </div>
  </div>  

  <div class="rca-row" ng-show="dataStatus == 'ready'">
    
    <!-- Match Promo Card -->
    <div class="rca-column-6">
      <div class="rca-medium-widget rca-padding {{match.status}} rca-top-border">
        
        <div class="rca-right rca-basic-text" ng-hide="match.status == 'started'" ng-bind="match.start_date.show_date"></div>
        <div class="rca-clear"></div>
        <div class="rca-padding">

          <!-- Match Not Started -->
          <div ng-show="match.status == 'notstarted'">
            <h3 class="rca-match-title rca-theme-text">
              <span ng-bind="match.teams.a.short_name"></span>
              VS
              <span ng-bind="match.teams.b.short_name"></span>
            </h3>
          
            <p class="rca-match-info">
              <span>{{match.format | uppercase}} - {{match.related_name}}</span>
            </p>
            <div class="rca-top-padding">
              <div class="rca-teams rca-table">
                <span class="team rca-cell" ng-bind="match.teams.a.name"></span>
                <span class="rca-vs rca-cell"></span>
                <span class="team rca-cell" ng-bind="match.teams.b.name"></span>
              </div>
            </div>
            <div class="rca-match-start">
              <h3>Starts in</h3>
              <div class="rca-padding">
                <h2>{{match.start_date.starts_in}}</h2>                  
                <p class="rca-center">{{match.start_date.show_cal}} (local time)</p>
                <div class="rca-center">{{match.msgs.info}}</div>
              </div>
            </div>
          </div>

          <!-- Match Started -->
          <div ng-show="match.status == 'started'">
            <div class="rca-live-label rca-right">
              <span ng-bind="match.teams.a.short_name"></span>
              vs
              <span ng-bind="match.teams.b.short_name"></span>
            </div>
            <div class="rca-clear"></div>
            <div class="rca-padding">       
              <h3 class="rca-match-title">
                {{match.teams[match.now.batting_team].key | uppercase}} : 
                {{match.innings[match.now.batting_team + '_1'].runs}}/{{match.innings[match.now.batting_team + '_1'].wickets}} in {{match.innings[match.now.batting_team + '_1'].overs}}
              </h3>
              <p class="rca-match-info">
                <span>CRR:{{match.now.run_rate}}</span>
                <span ng-if="match.now.req.runs_rate">Req RR:{{match.now.req.runs_rate}}</span>
              </p>
              <p class="rca-match-info" ng-if="match.allInnings[(match.now.bowling_team+ '_1')].bowling_order.length > 0">
                <span>{{match.teams[match.now.bowling_team].key | uppercase}} : 
                {{match.innings[match.now.bowling_team + '_1'].runs}}/{{match.innings[match.now.bowling_team + '_1'].wickets}} in {{match.innings[match.now.bowling_team + '_1'].overs}}</span>
              </p>
              <div ng-repeat="inn in match.now.innings">
                <div class="rca-top-padding">
                  <div class="rca-batsman striker" >
                      <span class="player">{{match.players[match.now.striker].name || "Waiting for batsman"}} <sup>*</sup></span>
                    <span>{{match.players[match.now.striker].match.innings[inn].batting.runs || "0"}}({{match.players[match.now.striker].match.innings[inn].batting.balls || "0"}})</span>
                  </div>

                  <div class="rca-batsman" >
                      <span class="player" ng-bind="match.players[match.now.nonstriker].name"></span>
                    <span>{{match.players[match.now.nonstriker].match.innings[inn].batting.runs || "0"}}({{match.players[match.now.nonstriker].match.innings[inn].batting.balls || "0"}})</span>
                  </div>
                </div>
                <div class="rca-ball-detail">
                  <div class="rca-match-schedule">
                    Over: {{match.innings[(match.now.batting_team+ '_1')].overs || "0.0"}}
                  </div>
                  <ul class="rca-ball-by">
                    <li class="b6">6</li>
                    <li class="">1wd</li>
                    <li class="w">w</li>
                    <li class="">1</li>
                    <li class="">2</li>
                    <li class="b4">4</li>
                  </ul>
                  <div class="rca-bowler-info">
                    <span>{{match.players[match.now.bowler].name || "Waiting for bowler"}} </span><span class="rca-bolwing">{{match.players[match.now.bowler].match.innings[('1')].bowling.runs}}/{{match.players[match.now.bowler].match.innings[('1')].bowling.wickets}} in {{match.players[match.now.bowler].match.innings[('1')].bowling.overs}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rca-top-padding rca-score-status">
              <div class="rca-status-scroll">
                {{match.now.last_ball.comment}}
              </div>
              <ul class="rca-bullet-list">
                <li class="active" data-tab="#status1"></li>
                <li data-tab="#status2"></li>
                <li data-tab="#status3"></li>
              </ul>
            </div> 
          </div>

          <!-- Match Completed -->
          <div ng-show="match.status == 'completed'">
            <h3 class="rca-match-title rca-theme-text">
                {{match.msgs.info}}
              </h3>
              <p class="rca-match-info">
                <span>{{match.format | uppercase}} - {{match.related_name}}</span>
              </p>
              <div class="rca-top-padding">
                <div class="rca-team-score" ng-repeat="teamKey in appConfig.cricket.possibleTeams">
                  <span class="team">{{match.teams[teamKey].name}}</span>
                  <span>{{match.innings[teamKey + '_1'].run_str}}</span>
                </div>
              </div>
              <div class="rca-man-match">
                <h3>Man of the Match <span>{{match.players[match.man_of_match].fullname}}</span></h3>
                <div class="rca-padding">
                  <p class="rca-man-match-record"><span class="title">Runs</span><span>{{match.players[match.manofMatch].match.innings['1'].batting.runs || "0"}}({{match.players[match.manofMatch].match.innings['1'].batting.balls || "0"}})</span></p>
                  <p class="rca-man-match-record"><span class="title">Boundries</span><span>{{match.players[match.manofMatch].match.innings['1'].batting.fours}}X4, {{match.players[match.manofMatch].match.innings['1'].batting.sixes}}X6</span></p>
                  <p class="rca-man-match-record"><span class="title">Wickets</span><span>{{match.players[match.manofMatch].match.innings['1'].batting.bowling.wickets || "Nil"}}</span></p>
                </div>
              </div>
          </div>       
        </div> 
      </div>

      <!-- Match Info Card -->
      <div class="rca-mini-widget rca-history-info">
            <div class="rca-row">
              <span class="rca-col rca-history-title">Match:</span>
              <span class="rca-col"> {{match.teams.a.name}} vs {{match.teams.b.name}} - {{match.related_name}}</span>
            </div>
            <div class="rca-row">
              <span class="rca-col rca-history-title">Series:</span>
              <span class="rca-col"> {{match.season.name}} </span>
            </div>
            <div class="rca-row">
              <span class="rca-col rca-history-title">Date (GMT):</span>
              <span class="rca-col"> {{match.start_date.str}} </span>
            </div>
            <div class="rca-row">
              <span class="rca-col rca-history-title">Venue:</span>
              <span class="rca-col"> {{match.venue}} </span>
            </div>
            <div class="rca-row">
              <span class="rca-col rca-history-title">Match Type:</span>
              <span class="rca-col"> {{match.format | uppercase}} </span>
            </div>
            <div class="rca-row">
              <span class="rca-col rca-history-title" ng-if="match.toss.str">Toss:</span>
              <span class="rca-col" ng-if="match.toss.str"> {{match.toss.str}} </span>
            </div>
      </div>
    </div>

    <!-- Score Card Details -->
    <div class="rca-column-6">
      <div class="rca-medium-widget rca-top-border">
        <ul class="rca-tab-list">
          <li class="rca-tab-link active" 
            ng-show="match.batting_order.length > 0"
            ng-click="activeView='scorecard'"
            ng-class="{'active lz-color-4-bg': activeView=='scorecard'}">SCORECARD
          </li>

          <li class="rca-tab-link"
            ng-click="activeView='teams'"
            ng-class="{'active lz-color-4-bg': activeView=='teams'}">SQUAD
          </li>
        </ul>

        <!-- Tab Content -->        
        <div ng-show="activeView=='scorecard'" class="scorecard">
          
          <div class="rca-border-bottom rca-padding">  
            <div class="rca-switch rca-top-padding">
              <span class="rca-tab-link active" data-tab="content-{{match.teams['a'].key}}" onclick="showTab(this);">{{match.teams.a.name}} 1st Innings</span>
              <span class="rca-tab-link" data-tab="content-{{match.teams['b'].key}}" onclick="showTab(this);">{{match.teams.b.name}} 1st Innings</span>
            </div>
          </div>

          <div id="content-{{match.teams[inn.teamKey].key}}" ng-repeat="inn in match.allInnings" class="score-details {{match.teams[inn.teamKey].key}}">
            
            <!-- Batting Card -->
            <div class="rca-batting-score rca-padding">
              <h3>{{match.teams[inn.teamKey].name}} Batting: <strong> {{inn.runs}}/{{inn.wickets}} in {{inn.overs}}</strong></h3>
              <span ng-show="inn.batting_order.length > 0">
                <div class="rca-row rca-header">
                  <div class="rca-col rca-player">
                    Batsmen
                  </div>
                  <div class="rca-col">
                    R
                  </div>
                  <div class="rca-col">
                    4s
                  </div>
                  <div class="rca-col">
                    6s
                  </div>
                  <div class="rca-col">
                    SR
                  </div>
                </div>

                <span ng-repeat="pk in inn.batting_order">
                  <div class="rca-row">
                    <div class="rca-col rca-player">
                      <span ng-bind="match.players[pk].name"></span>
                      <p ng-bind="match.players[pk].match.innings[inn.inningsNumber].batting.out_str"></p>
                    </div>
                    <div class="rca-col">
                      {{match.players[pk].match.innings[inn.inningsNumber].batting.runs || "0"}} ({{match.players[pk].match.innings[inn.inningsNumber].batting.balls || "0"}})
                    </div>
                    <div class="rca-col">
                      {{match.players[pk].match.innings[inn.inningsNumber].batting.fours || "0"}}
                    </div>
                    <div class="rca-col">
                      {{match.players[pk].match.innings[inn.inningsNumber].batting.sixes || "0"}}
                    </div>
                    <div class="rca-col">
                      {{match.players[pk].match.innings[inn.inningsNumber].batting.strike_rate || "0.00"}}
                    </div>
                  </div>
                </span>

                <div class="rca-clear"></div>
                <div class="rca-padding">
                  <span>Fours: <strong>{{inn.fours || "0"}}</strong></span>, <span>Sixes: <strong>{{inn.sixes || "0"}}</strong></span>, <span>Extras: <strong>{{inn.extras || "0"}}</strong></span>
                </div>
              </span>
            </div>

            <!-- Bowling Card -->
            <div class="rca-bowling-score rca-padding">
              <h3>{{match.teams[inn.teamKey].name}} Bowling:</h3>
              <span ng-show="inn.bowling_order.length > 0">
                <div class="rca-row rca-header">
                  <div class="rca-col rca-player">
                    Bowler
                  </div>
                  <div class="rca-col small">
                    O
                  </div>
                  <div class="rca-col small">
                    M
                  </div>
                  <div class="rca-col small">
                    R
                  </div>
                  <div class="rca-col small">
                    W
                  </div>
                  <div class="rca-col small">
                    Econ
                  </div>
                  <div class="rca-col small">
                    Extras
                  </div>
                </div>

                <span ng-repeat="pk in inn.bowling_order">
                  <div class="rca-row">
                    <div class="rca-col rca-player" ng-bind="match.players[pk].name">
                      
                    </div>
                    <div class="rca-col small">
                      {{match.players[pk].match.innings[inn.inningsNumber].bowling.overs || "0"}}
                    </div>
                    <div class="rca-col small">
                      {{match.players[pk].match.innings[inn.inningsNumber].bowling.maiden_overs || "0"}}
                    </div>
                    <div class="rca-col small">
                      {{match.players[pk].match.innings[inn.inningsNumber].bowling.runs || "0"}}
                    </div>
                    <div class="rca-col small">
                      {{match.players[pk].match.innings[inn.inningsNumber].bowling.wickets || "0"}}
                    </div>
                    <div class="rca-col small">
                     {{match.players[pk].match.innings[inn.inningsNumber].bowling.economy || "0"}}
                    </div>
                    <div class="rca-col small">
                      {{match.players[pk].match.innings[inn.inningsNumber].bowling.extras || "0"}}
                    </div>
                  </div>
                </span>
              </span>
              <div class="rca-clear"></div>

              <!-- Fall of Wickets -->
              <div class="rca-padding">
                <h3>Fall of Wicket:</h3>
                <ol class="rca-wicket-falls">
                  <span ng-repeat="fw in match.innings[inn.teamKey + '_1'].fall_of_wickets">
                    <li ng-bind="fw">                    
                    </li>
                  </span>
                </ol>
              </div>
            </div>
          </div>
        </div>       
      
        <div ng-show="activeView=='teams'">
          <div class="rca-padding">                
            <div class="rca-dummy">

              <!-- Team Squad Tabs -->
              <ul class="rca-tab-list">
                <li class="rca-tab-link active" data-tab="tab-{{match.teams['a'].key}}" onclick="showTab(this);">{{match.teams['a'].name}}</li>

                <li class="rca-tab-link" data-tab="tab-{{match.teams['b'].key}}" onclick="showTab(this);">{{match.teams['b'].name}}</li>
              </ul>

              <!-- Team A Squad Card Content -->
              <div id="tab-{{match.teams['a'].key}}" class="rca-padding rca-tab-content active">

                  <!-- Players List -->
                  <div ng-if="match.teams.a.match.playing_xi">
                    <div class="rca-batting-score rca-padding">
                      <h3>Team {{match.teams['a'].name}} ({{match.teams['a'].match.playing_xi.length}})</h3>
                      <div class="rca-player-detail" ng-repeat="pk in match.teams['a'].match.playing_xi">
                          <span class="rca-player" ng-bind="match.players[pk].name"></span>
                          <span class="rca-highlight-text" ng-show="pk==match.teams['a'].match.captain">(C)</span>
                          <span class="rca-highlight-text" ng-show="pk==match.teams['a'].match.keeper">(WK)</span>
                          <span class="rca-right rca-basic-text" ng-show="match.players[pk].identified_roles.bowler == true">Bowler</span>
                          <span class="rca-right rca-basic-text" ng-show="match.players[pk].identified_roles.batsman == true">Batsman</span>
                          <span class="rca-right rca-basic-text" ng-show="match.players[pk].identified_roles[batsman && bowler && keeper] == true"> All Rounderer</span>
                      </div>
                    </div>
                  </div>

                  <!-- Bench Players List -->
                  <div class="rca-batting-score rca-padding">
                    <h3>Bench {{match.teams['a'].name}} ({{match.benchXPlayersCount}})</h3>
                    <div class="rca-player-detail" ng-repeat="pk in match.teams['a'].match.benchPlayers">
                        <span class="rca-player" ng-bind="match.players[pk].name"></span>
                        <span class="rca-highlight-text" ng-show="pk==match.teams['a'].match.captain">(C)</span>
                        <span class="rca-highlight-text" ng-show="pk==match.teams['a'].match.keeper">(WK)</span>
                        <span class="rca-right rca-basic-text" ng-show="match.players[pk].identified_roles.bowler == true">Bowler</span>
                        <span class="rca-right rca-basic-text" ng-show="match.players[pk].identified_roles.batsman == true">  Batsman</span>
                        <span class="rca-right rca-basic-text" ng-show="match.players[pk].identified_roles[batsman && bowler && keeper] == true"> All Rounderer</span>
                      
                    </div>
                  </div>
              </div>


              <!-- Team B Squad Card Content -->
              <div id="tab-{{match.teams['b'].key}}" class="rca-padding rca-tab-content">
                  <!-- Players List -->
                  <div ng-if="match.teams.b.match.playing_xi">
                    <div class="rca-batting-score rca-padding">
                      <h3>Team {{match.teams['b'].name}} ({{match.teams['b'].match.playing_xi.length}})</h3>
                      <div class="rca-player-detail" ng-repeat="pk in match.teams['b'].match.playing_xi">
                          <span class="rca-player" ng-bind="match.players[pk].name"></span>
                          <span class="rca-highlight-text" ng-show="pk==match.teams['b'].match.captain">(C)</span>
                          <span class="rca-highlight-text" ng-show="pk==match.teams['b'].match.keeper">(WK)</span>
                          <span class="rca-right rca-basic-text" ng-show="match.players[pk].identified_roles.bowler == true">Bowler</span>
                          <span class="rca-right rca-basic-text" ng-show="match.players[pk].identified_roles.batsman == true">  Batsman</span>
                          <span class="rca-right rca-basic-text" ng-show="match.players[pk].identified_roles[batsman && bowler && keeper] == true"> All Rounderer</span>
                      </div>
                    </div>
                  </div>

                  <!-- Bench Players List -->
                  <div class="rca-batting-score rca-padding">
                    <h3>Bench {{match.teams['b'].name}} ({{match.benchYPlayersCount}})</h3>
                    <div class="rca-player-detail" ng-repeat="pk in match.teams['b'].match.benchPlayers">
                        <span class="rca-player" ng-bind="match.players[pk].name"></span>
                        <span class="rca-highlight-text" ng-show="pk==match.teams['b'].match.captain">(C)</span>
                        <span class="rca-highlight-text" ng-show="pk==match.teams['b'].match.keeper">(WK)</span>
                        <span class="rca-right rca-basic-text" ng-show="match.players[pk].identified_roles.bowler == true">Bowler</span>
                        <span class="rca-right rca-basic-text" ng-show="match.players[pk].identified_roles.batsman == true">  Batsman</span>
                        <span class="rca-right rca-basic-text" ng-show="match.players[pk].identified_roles[batsman && bowler && keeper] == true"> All Rounderer</span>
                    </div>
                  </div>
              </div>
            </div>
          </div>  
        </div>  

      </div>
    </div>
  </div>

</div>